.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color:  var(--color-white);
    padding: var(--spacing-gutter-large);
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
.main-footer a:hover{
    filter: brightness(.8);
}