{% include 'static/fragments/pagination.html'%}

<footer class="main-footer">
    <div class="developer">
      <a href="https://github.com/wendellxavier" target="_blank" rel="noreferrer noopener">
        <i class="fas fa-github">wendell xavier</i>
      </a>
    </div>
  
    <div class="powered">
      <a href="https://www.linkedin.com/in/wendell-xavier-20b051144/" target="_blank" rel="noreferrer noopener">
        <i class="fas fa-linkedin">Wendell Xavier</i>
      </a>
    </div>
  </footer>