<main class="main-content-container ">
    <div class="main-content  main-content-list container">
        <div class="receitas receitas-list-items">
            <div class="receitas-cover">
                <img src="{{ receita.cover.url }}"alt="">
            </div>
            <div class="receitas-title-container">
                <h2 class="receita-title">
                    <a href="{% url 'receitas:receitas_detalhe' receita.id %}">
                        {{receita.title}}
                    </a>
                </h2>
            </div>

            
                <div class="receitas-author">
                    <span class="receitas-author-item">
                        <i class="fas fa-user"></i>
                        {% if receita.author is not None %}
                            {% if receita.author.first_name %}
                                {{ receita.author.first_name }} {{ receita.author.last_name}}
                            {% else %}
                                {{ receita.author.username }}
                        {% endif %}
                            {% else %}
                                Desconhecido
                        {% endif %}
                    </span>
                   

                <span class="receitas-author-item">
                    <i class="fas fa-calendar-alt">
                        20/03/2023 as 11:11
                    </i>
                </span>

                {% if receita.category is not None %}
                    <span class="receitas-author-item">
                        <a href="{% url 'receitas:category' receita.category_id %}">
                            <i class="fas fa-layer-group">
                                <span>{{receita.category.name}}</span>
                            </i>
                        </a>
                    </span>
                {% endif %}

            </div>
            <div class="receitas-contet">
                <p>{{receita.preparation_steps}}</p>
            </div>

            <div class="receitas-meta-container">
                <div class="receitas-meta receitaspreparation">
                    <h3 class="receitas-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
                    <div class="receitas-meta-text">
                        {{receita.preparation_time}} minutos
                    </div>
                </div>
                <div class="receitas-meta receitas-servings">
                    <h3 class="receitas-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
                    <div class="receitas-meta-text">
                        {{receita.servings}} Porções
                    </div>
                </div>
            </div>

            {% if is_detail_page is not True %}
                <footer class="receitas-footer">
                    <a class="receitas-read-more button button-dark button-full-width" href="{% url 'receitas:receitas_detalhe' id_receitas=receita.id %}">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            {% endif %}

            {% if is_detail_page is True %}
                <div class="preparation-steps">
                 {% if receita.preparation_steps_is_html is True %}
                    {{ receita.preparations_steps | safe }}
                        {% else %}
                    {{ receita.preparations_steps | linebreaksbr }}
                {% endif %}
            </div>
            {% endif %}

        </div>

        
    </div>
</main>